@model UserModel

<div class="row">
    <div class="col-md-6 mx-auto">

        <div class="text-center mb-5">
            <h2>Create User</h2>
        </div>

        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="Name" class="form-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="Email" class="form-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="Phone" class="form-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Phone" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="Photo" class="form-label">Photo</label>
                </div>
                <div class="col-md-8">
                    <input type="file" name="Photo" id="Photo" accept="image/*" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>